.bg-image-container {
  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
}

.bg-image {
  width: 100%;
  height: 550px;
}

.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border-radius: 7px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
}


.card {
  padding: 1.5rem 1rem 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .15);
  margin: 2rem 2rem;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
}

.profilepic {
  width: 145px;
  height: 145px;
  border-radius: 50%;
}