.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 66, 77);
}

.footer-section {
  margin: 25px 0;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 17.5px;
}

.link:hover {
  text-decoration: underline;
}

.links-container {
  width: 50% !important;
}

.social-media {
  max-width: 200px;
  margin-bottom: 0;
}

.copyright-container {
  margin-top: 8px;
}

@media screen and (max-width: 600px) {
  .social-media {
    width: 60%;
  }
}

